In [1]:
import yfinance as yf

In [6]:
data = yf.download(  # or pdr.get_data_yahoo(...
        # tickers list or string as well
        tickers = "SPY AAPL MSFT",

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo'),

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
#         interval = "1m",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
        info=True
    )

SyntaxError: invalid syntax (<ipython-input-6-fcdef8e1a623>, line 33)

                  Open        High         Low       Close      Volume
Date
1980-12-12         NaN         NaN         NaN         NaN         NaN
1980-12-15         NaN         NaN         NaN         NaN         NaN
1980-12-16         NaN         NaN         NaN         NaN         NaN
1980-12-17         NaN         NaN         NaN         NaN         NaN
1980-12-18         NaN         NaN         NaN         NaN         NaN
...                ...         ...         ...         ...         ...
2021-11-18  338.179993  342.450012  337.119995  341.269989  22463500.0
2021-11-19  342.640015  345.100006  342.200012  343.109985  21942200.0
2021-11-22  344.619995  349.670013  339.549988  339.829987  31031100.0
2021-11-23  337.049988  339.450012  333.559998  337.679993  30427600.0
2021-11-24  336.279999  338.160004  333.910004  337.910004  21620600.0

[10327 rows x 5 columns]